body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: turquoise;
  justify-content: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
  align-items: center;
}