body {
  overflow: hidden;
  background: conic-gradient(from -.5turn at bottom right, deeppink, cyan, rebeccapurple);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  height: 100vh;
}

.header{
  font-family: 'Mynerve', cursive;
  font-size: larger;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #a6367d99;
  justify-content: center;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
  align-items: center;
  border-bottom: solid 4px silver;
}

.archer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  height: 95vh;
  width: 50vw;
}

.homepage{
  display: flex;
}

.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
